
<div class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a ><b>GESTION </b>HOSTELERIA</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Inicia sesión para comenzar tu sesión</p>
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <span *ngIf="form.submitted && form.controls['email'].errors"
                        class="text-danger">El correo es obligatorio</span>
                <div class="input-group mb-3">
                    <input type="email"
                           class="form-control"
                           name="email"
                           [class.is-invalid]="email.invalid && email.touched"
                           [ngModel]="usuario.email"
                           email
                           required
                           placeholder="Email"
                           #email="ngModel">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span *ngIf="form.submitted && form.controls['password'].errors"
                        class="text-danger">Al menos 6 letras</span>
                <div class="input-group mb-3">
                    <input type="password"
                           class="form-control"
                           name="password"
                           [class.is-invalid]="password.invalid && password.touched"
                           [ngModel]="usuario.password"
                           required
                           minlength="6"
                           placeholder="Contraseña"
                           #password="ngModel">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Recuerdame
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

           <!-- <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google mr-2"></i> Sign in using Google
                </a>
            </div>-->
            <!-- /.social-auth-links -->

            <p class="mb-1">
                <a href="forgot-password.html">¿ Olvide mi contraseña ?</a>
            </p>
            <p class="mb-0">
                <a href="register.html" class="text-center">Registrarse como nuevo usuario</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
</div>
