<!-- Content Wrapper. Contains page content -->
	<section class="content">
		<div class="error-page">
			<h2 class="headline text-warning"> 404</h2>

			<div class="error-content">
				<h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Pagina No Encontrada.</h3>

				<p>
					No podemos encontrar la pagina que busca.
					Mientras tanto, ud. puede  <a href="/dashboard">volver al dashboard</a>.
				</p>

			</div>
			<!-- /.error-content -->
		</div>
		<!-- /.error-page -->
	</section>
	<!-- /.content -->
